In [1]:
import sys
import os

repo_root = os.path.dirname(os.getcwd())
print(
    "Adding the repo_root to PYTHONPATH: ",
    repo_root,
)
sys.path.append(repo_root)

Adding the repo_root to PYTHONPATH:  d:\impact-repos\taxes-2018

In [2]:
import pandas

In [3]:
df = pandas.read_excel(
    "C:/Users/tonyw/Box/2024 Spring/TaxReturn/CapitalLoss.xlsx",
    "基金详情",
)
print(df[30:33])

    账号              基金名                                           基金英文  \
30  雪球  建信深证基本面60ETF联接A          CCB SZSE Fundamental 60 ETF Connect A
31  雪球      富国中证500指数增强           Full Goal CSI 500 Index strengthened
32  雪球         交银优势行业混合  Bank of Communications advantage industry mix

                                              Address Share class description  \
30  Floor 16, Yinglan International Financial Cent...           common shares
31  Floors 27-30, Century Exchange Tower 2, No. 11...           common shares
32  Floor 8-9, No. 333, Lujiazui Ring Road, China ...           common shares

   Date shares acquired    基金编号 自定基金编号  2023年年底持有份额（货币基金，雪球组合和支付宝锐意进取1元==1份）  \
30       Not applicable  530015    NaN                               1869.48
31       Not applicable  161017    NaN                               1455.44
32       Not applicable  519697    NaN                               3691.69

    2023年年底每股价格（人民币元，如果持有份额无法直接获取，请填写）  2023年年底总资产（人民币元）  2023年收益（人民币元）  \
30                                 NaN           4066.12    -278.025299
31                                 NaN           3084.08     -65.511503
32                                 NaN          14555.94   -4379.847694

   2023年MtM加总至ordinary income的收益（人民币元） Unnamed: 13  2024-02-05清仓时相比2023年底收益  \
30                                   0         NaN                      NaN
31                                   0         NaN                      NaN
32                                   0         NaN                      NaN

    卖出时持有份额  卖出时持有单价 卖出备注
30      NaN      NaN  NaN
31      NaN      NaN  NaN
32      NaN      NaN  NaN

In [4]:
df.iloc[30]["基金编号"]

'530015'

In [5]:
for idx_row in range(0,3):
    row = df.iloc[idx_row]
    print(type(row))
    print(row.isna()["Address"])
    print(row["Address"])

<class 'pandas.core.series.Series'>
False
Fund Building, No. 5999, Yitian Road, Lianhua Street, Futian District, Shenzhen 518048, China
<class 'pandas.core.series.Series'>
False
Fund Building, No. 5999, Yitian Road, Lianhua Street, Futian District, Shenzhen 518048, China
<class 'pandas.core.series.Series'>
False
Huatai Securities Plaza, No. 228 Jiangdong Middle Road, Nanjing, Jiangsu 210019, China

# Creating New DataFrame

In [7]:
data2 = {
    "Name": [],
    "Age": [],
    "City": [],
}
df2 = pandas.DataFrame(data2)

# By setting the ignore_index parameter to True, you ensure that the new row is added to the DataFrame with a new index, maintaining a continuous index sequence.
# From https://saturncloud.io/blog/how-to-add-new-rows-to-a-pandas-dataframe/
new_row2 = {"Name": "John", "Age": 35, "City": "New York"}
df2 = df2.append(new_row2, ignore_index=True)
print(df2)

   Name   Age      City
0  John  35.0  New York

C:\Users\tonyw\AppData\Local\Temp\ipykernel_56784\2278594807.py:11: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(new_row2, ignore_index=True)